/* Reset some default styles */
body,
h1,
h2,
h3,
h4,
p,
button,
input {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

header {
    background-color: black;
    color: rgb(196, 158, 105);
    text-align: center;
}

main {
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(196, 158, 105);
}

.welcome {
    text-align: center;
    font-size: 30px;
}

.welcometext {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 100px;
    padding-bottom: 20px;
}

h2 {
    color: #000000;
}

p {
    color: #000000;
}

.inputcontainer {
    display: flex;
    align-items: center;
    padding-bottom: 30px;
    margin: 20px;
    justify-content: space-around;
    flex-wrap: wrap;

}

#useLocationBtn,
#addressInput {
    height: 60px;
    box-sizing: border-box;

}

#useLocationBtn {
    color: rgb(196, 158, 105);
    background-color: black;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 100%;

}

.or {
    margin: 10px 0;
    width: 100%;
    text-align: center;
    color: black;
}

#autocomplete {
    padding: 10px;
    flex: 1;
    margin-left: 10px;
}

#useLocationBtn:hover {
    background-color: gray;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.map-container {
    height: 600px;
    width: 100%;
    margin-top: 20px;
}

.map-area {
    width: 100%;
    height: 600px;
    overflow: hidden;
}

#map {
    width: 70%;
    height: 100%;
    display: flex;
    margin: auto;
}

.slider-container {
    margin-left: 90%;
    height: 200px;
    width: 200px;
    margin-top: -340px;
}

.slider:hover {
    opacity: 1;
    color: #333
}

.slider {
    transform: rotate(270deg);
}


footer {
    background-color: black;
    text-align: center;
    padding: 1em;
}

.footer {
    color: rgb(196, 158, 105);
}

.logo {
    height: 200px;
}

.button-container {
    text-align: center;
    margin-top: 20px;

}

.button {
    display: inline-block;
    background: #000000;
    color: rgb(196, 158, 105);
    text-transform: uppercase;
    padding: 20px 30px;
    border-radius: 5px;
    box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    text-decoration: none;
    /* Remove underline */
    -webkit-transition: all ease-in-out 300ms;
    transition: all ease-in-out 300ms;
}

.button:hover {
    box-shadow: 0px 37px 20px -20px rgba(0, 0, 0, 0.2);
    -webkit-transform: translate(0px, -10px) scale(1.2);
    transform: translate(0px, -10px) scale(1.2);
}

/* .filter-container {
    margin-top: 20px;
}
.food-filter {
    margin-right: 10px;
} */
/* Apply a little styling to the selected food types */
/* .food-filter:checked + label {
    font-weight: bold;
    color: #00ff11; Change the color as needed
} */
.btn {
    background-color: black;
    color: rgb(196, 158, 105);
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    position: relative;
    border-radius: 0 !important;
    border: none;
    transition: all 0.3s ease 0s;
}

.btn:hover,
.btn.active:hover {
    color: white;
}

.btn:before {
    content: "";
    position: absolute;
    top: -7px;
    left: 0;
    background-color: #2E0014;
    width: 30%;
    height: 4px;
    transition: all 0.3s ease 0s;
}

.btn:after {
    content: "";
    position: absolute;
    bottom: -7px;
    right: 0;
    background-color: #2E0014;
    width: 30%;
    height: 4px;
    transition: all 0.3s ease 0s;
}

.btn:hover:before,
.btn:hover:after,
.btn.active:before,
.btn.active:after {
    width: 100%;
}

@media screen and (max-width: 575px) {
    .btn {
        margin-bottom: 50px !important;
    }
}

.resultContainer {
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 200px;
    width: 100%;
    background-color: black;
    color: rgb(196, 158, 105);
    margin-bottom: 50px;
}

.destination {
    margin-top: 50px;
    border-bottom: 5px;
    padding-bottom: 2px;
    border-color: rgb(196, 158, 105);
    border-style: dashed;
    border-top: none;
    border-right: none;
    border-left: none;
    text-align: center;
    background-color: black;
    color: rgb(196, 158, 105);
}

.result {
    text-align: center;
}